body{
    overflow-x: hidden;
}

#particles-js{
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0);
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#main-logo{
    z-index: 10;
    width: 30vw;
    height: auto;
    position: relative;
    left: 35vw;
    top:10vh;
    opacity: 1;
}


#main-text{
    z-index: 10;
    color: white;
    font-size: 30pt;
    width: 100vw;
    text-align: center;
    position: relative;
    top:15vh;

}

#main-text span{
    color: white;
    font-size: 25pt;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 9px;
    font-weight: 800;
}

#main-date{
    z-index: 10;
    text-align: center;
    position: relative;
    width: 100vw;
    top:17vh;
}

#main-date span{
    color: white;
    font-size: 15pt;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 8px;
    font-weight: 800;   
}

#main-month{
    z-index: 10;
    position: relative;
    text-align: center;
    width: 100vw;
    top:20vh;
}

#main-month span{
    color: white;
    font-size: 10pt;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 8px;
    font-weight: 800;  
}

/*.frame{
   position: relative;
    left:10vw;
}*/

#about-us-text{
    font-size: 15pt;

}

#container .box {
  width:100vw;
  height:100vh;
  display:inline-block;
  position:relative;
}

#robot1{
  position: absolute;
  width: 15vw;
  height: auto;
  left: 5vw;
}



#major-space{
    height: 50vh;
    background-image: linear-gradient(to right, #E4E4E4 0%, #FFFFFF 100%);
}

#major-attractions{

    height: 100vh !important;
    width: 100vw;
    overflow:hidden;
    /*margin-top:70vh;*/
    background-image: linear-gradient(to right, #E4E4E4 0%, #FFFFFF 100%);
    position: relative;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.four{
  width:100vw;
  height:100vh;
  display:inline-block;
  position:relative;
}

#container .box > div {
  width:100vw;
  text-align: center;
  font-size:4rem;
  color:#000000;
  position:absolute;
  z-index: 10;
  top:20%;
  line-height:.7;
  /*font-weight:bold;*/
  font-family: "Source Sans Pro", sans-serif;
}

#major-logo{
  width: 50vw;
  height: auto;
}

#container {
  overflow-y:hidden;
  overflow-x:hidden;
  transform: rotate(270deg) translateX(-100%);
  transform-origin: top left;
  background-color:#999;
  position:absolute;
  width:100vh;
  height:100vw;
}
#container2 {
  position: relative;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  white-space:nowrap;
  font-size:0;
}

#hz-container{
  position: relative;
}

#robot-grad{
  z-index: 10;
  position: absolute;
  width: 100vw;
  height: 10vh;
  bottom: -2px;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e0e0e0+1,757575+100 */
background: rgb(224,224,224); /* Old browsers */
background: -moz-linear-gradient(top, rgba(224,224,224,1) 1%, rgba(117,117,117,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(224,224,224,1) 1%,rgba(117,117,117,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(224,224,224,1) 1%,rgba(117,117,117,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#757575',GradientType=0 ); /* IE6-9 */
}

#robot2{
  position: absolute;
  opacity: 1;
  width: 15vw;
  z-index: 12;
  bottom: 5vh;
  left:5vh;
  height: auto;
}


#robot3{
  position: absolute;
  width:30vw;
  opacity: 0;
  z-index: 12;
  bottom: 5vh;
  left:5vh;
  height: auto;
}


.one {
  background-image: linear-gradient(to right, #E4E4E4 0%, #FFFFFF 100%);
}
.two {
  background-color: #FFFFFF;
}
.three {
  background-color: #FFFFFF;
}
.four {
  background-color: #FFFFFF;
}

#vertical-cont .box {
  width:100vw;
  height:100vh;
  display:block;
  position:relative;
}

#vertical-cont .box > div {
  width:100px;
  height:100px;
  font-size:96px;
  color:#FFF;
  position:absolute;
  margin:-50px 0 0 -50px;
  line-height:.7;
  font-weight:bold;
}


#vertical-cont {
  overflow-y:hidden;
  overflow-x:hidden;
  background-color:#999;
  position:absolute; 
  width:100vw;
  height:100vh;
}
#vertical-cont2 {
  white-space:nowrap;
  font-size:0;
}



#trigger2{
  position: relative;
  top:100vh;
}

#space2{
  height: 100vh;
}

#sponsors{
  width: 100vw;
  height: 200vh;
  background-color: white;
  position: relative;
  display: block;
  background-image: linear-gradient(to right, #E4E4E4 0%, #FFFFFF 100%);
}

#sponsors{
  text-align: center;
}

#sponsors h1{
  opacity: 0;
  padding-top:  10vh;
  margin-bottom: 5vh;
  font-size: 4rem;
  font-family: "Source Sans Pro", sans-serif;
  text-shadow: 2px 2px #555555;
}

#sponsors-div{
  /*padding-top: 10vh;*/
  border-radius: 10px;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  display: inline-block;
  width: 70vw;
  /*left:10vw;*/
  background-color: white;
  box-shadow: 5px 5px #555555;
  
}

#sponsors-div .col-xs-12,
#sponsors-div .col-xs-12,
#sponsors-div .col-md-2,
#sponsors-div .col-md-2 {
  text-align: -webkit-center;
  /*border: 0.1px solid rgba(0,0,0,0.2);*/
  margin: 0px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-collapse: collapse;
  /*padding:20px;*/
  /*padding-top: 30px;*/
  /*padding-bottom: 30px;*/
}


#sponsors-div .row{
  border-collapse: collapse;
  padding: 0;
  margin: 0;
}

.img-holder{
  width: auto;
  height: 35px;
  margin: 10px;
  opacity: 0;
}
.img-holder img{
  display: table-cell;
  margin-left: auto;
  vertical-align: middle;
  margin-right: auto;
  max-width: 100%;
}

