body{
    overflow-x: hidden;
}

#particles-js{
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0);
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}


#main-logo{
    z-index: 10;
    width: 30vw;
    height: auto;
    position: relative;
    left: 35vw;
    top:10vh;
    opacity: 1;
}


#main-text{
    z-index: 10;
    color: white;
    font-size: 30pt;
    width: 100vw;
    text-align: center;
    position: relative;
    top:15vh;

}

#main-text span{
    color: white;
    font-size: 25pt;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 9px;
    font-weight: 800;
}

.parent {
  width: 100%;
  height: 100%;
}

.particles-back {
  width: 100%;
  height: 500%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  list-style: none;
  overflow: hidden;
}

.particles-back li {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  background: #FFFFFF;
  pointer-events: none;
}

#main-date{
    z-index: 10;
    text-align: center;
    position: relative;
    width: 100vw;
    top:17vh;
}

#main-date span{
    color: white;
    font-size: 15pt;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 8px;
    font-weight: 800;   
}

#main-month{
    z-index: 10;
    position: relative;
    text-align: center;
    width: 100vw;
    top:20vh;
}

#main-month span{
    color: white;
    font-size: 10pt;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 8px;
    font-weight: 800;  
}

/*.frame{
   position: relative;
    left:10vw;
}*/

#about-us-text{
    font-size: 15pt;

}

#container .box {
  width:100vw;
  height:100vh;
  display:inline-block;
  position:relative;
}

#robot1{
  position: absolute;
  width: 15vw;
  height: auto;
  left: 5vw;
}



#major-space{
    height: 40vh;
    background-image: linear-gradient(to right, #E4E4E4 0%, #FFFFFF 100%);
}

#major-attractions{

    height: 100vh !important;
    width: 100vw;
    overflow:hidden;
    /*margin-top:70vh;*/
    /*background-image: linear-gradient(to right, #E4E4E4 0%, #FFFFFF 100%);*/
    position: relative;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.four{
  width:100vw;
  height:100vh;
  display:inline-block;
  position:relative;
}

#container .box > div {
  width:100vw;
  text-align: center;
  font-size:4rem;
  color:#000000;
  position:absolute;
  z-index: 10;
  top:20%;
  line-height:.7;
  /*font-weight:bold;*/
  font-family: "Source Sans Pro", sans-serif;
}

#major-logo{
  font-weight: 100;
  left: 25vw;
  top:20vw;
  text-align: center;
  font-size: 4rem;
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  position: absolute;
  width: 50vw;
  height: auto;
  opacity: 1;
  z-index: 5;
}

#workshop-logo{
  font-weight: 100;
  left: 25vw;
  top:20vw;
  text-align: center;
  font-size: 4rem;
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  position: absolute;
  width: 50vw;
  height: auto;
  opacity: 0;
  z-index: 5;
}

#container {
  overflow-y:hidden;
  overflow-x:hidden;
  transform: rotate(270deg) translateX(-100%);
  transform-origin: top left;
  /*background-color:#999;*/
  position:absolute;
  width:100vh;
  height:100vw;
  z-index: 6;
}
#container2 {
  position: relative;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  white-space:nowrap;
  font-size:0;
  z-index: 5;
}

#hz-container{
  position: relative;
}

#robot-grad{
  z-index: 10;
  position: absolute;
  width: 100vw;
  height: 10vh;
  bottom: -2px;
  opacity: 0;
  border-top: 5px solid #757575;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e0e0e0+1,757575+100 */
background: rgb(224,224,224); /* Old browsers */
background: -moz-linear-gradient(top, rgba(224,224,224,1) 1%, rgba(117,117,117,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(224,224,224,1) 1%,rgba(117,117,117,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(224,224,224,1) 1%,rgba(117,117,117,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#757575',GradientType=0 ); /* IE6-9 */
}

.major-img{
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: block;
  text-align: center;
  left: 100vw;
  opacity: 1;
  z-index: 4;
  
}

.major-img img{
  top: 5vh;
  position: relative;
  height: 80vh;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*border: 10px solid white;*/
  border-radius: 10px;
  /*height: auto*/
  /*box-shadow: 5px 2px black;*/
}

.heading{
  text-align: center;
  width: 30vw;
  left: 35vw;
  font-size: 2rem;
  color: white;
  position: absolute;
  top:10vw;
  padding: 10px;
  background-color: rgba(0,0,0,0.8);
  border-radius: 10px;
  font-family: "Source Sans Pro", sans-serif;
}

.major-img1{
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: block;
  text-align: center;
  left: 200vw;
  opacity: 1;
  z-index: 4;
  
}

.major-img1 img{
  top: 5vh;
  position: relative;
  height: 80vh;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
 /* border: 10px solid white;
  border-radius: 5px;*/
  /*height: auto*/
}


.major-img2{
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: block;
  text-align: center;
  left: 300vw;
  opacity: 1;
  z-index: 4;
  
}

.major-img2 img{
  top: 5vh;
  position: relative;
  height: 80vh;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  /*border: 10px solid white;
  border-radius: 5px;*/
  /*height: auto*/
}


.work-img1{
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: block;
  text-align: center;
  left: 500vw;
  opacity: 1;
  z-index: 4; 
}

.work-img3{
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: block;
  text-align: center;
  left: 700vw;
  opacity: 1;
  z-index: 4;
  
}


.work-img4{
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: block;
  text-align: center;
  left: 800vw;
  opacity: 1;
  z-index: 4;
  
}

.cover{
  top:5vh;
  position: relative;
  overflow: hidden;
  left:10vw;
  width:80vw;
  height:80vh; 
}

.cover img{
  position: relative;
  height: 80vh;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  /*border: 10px solid white;
  border-radius: 5px;*/
  /*height: auto*/
}

.heading2{
  text-align: center;
  width: 30vw;
  left: 35vw;
  font-size: 2rem;
  color: white;
  position: absolute;
  top:10vw;
  padding: 10px;
  background-color: rgba(0,0,0,0.8);
  border-radius: 10px;
  font-family: "Source Sans Pro", sans-serif;
}

.caption{
  text-align: center;
  padding: 20px;
  width: 50vw;
  left:25vw;
  font-size: 1.2rem;
  color: white;
  position: absolute;
  background-color: rgba(0,0,0,0.8);
  border-radius: 10px;
  top:20vw;
  font-family: "Source Sans Pro", sans-serif;
}

.work-img2{
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: block;
  text-align: center;
  left: 600vw;
  opacity: 1;
  z-index: 4;
  
}







#robot2{
  position: absolute;
  opacity: 0;
  width: 15vw;
  z-index: 12;
  bottom: 5vh;
  left:5vh;
  height: auto;
}


#robot3{
  position: absolute;
  width:30vw;
  opacity: 0;
  z-index: 12;
  bottom: 5vh;
  left:5vh;
  height: auto;
}
#city-front{
  position: absolute;
  width: 100vw;
  height: auto;
  bottom: 5vh;
  z-index:3;
}
#city-front2{
  position: absolute;
  width: 100vw;
  left: 100vw;
  height: auto;
  bottom: 5vh;
  z-index:3;
}

#city-back{
  position: absolute;
  width: 100vw;
  height: auto;
  bottom: 5vh;
  z-index:2;
}

#city-stars{
  position: absolute;
  width: 100vw;
  height: auto;
  top:0;
  /*bottom: 5vh;*/
  z-index:2;
}
#city-back2{
  position: absolute;
  width: 100vw;
  left: 100vw;
  height: auto;
  bottom: 5vh;
  z-index:2;
}
#city-front3{
  position: absolute;
  width: 100vw;
  left:200vw;
  height: auto;
  bottom: 5vh;
  z-index:3;
}
#city-front4{
  position: absolute;
  width: 100vw;
  left:0
  height: auto;
  bottom: 5vh;
  z-index:3;
}

#city-back-color{
  position: absolute;
  width: 100vw;
  height: 100vh;
  left:0;
  bottom: 0;
  background-color: purple;
  z-index:1;
}

.one {
  background-color: rgba(0,0,0,0);
}
.two {
  background-color: rgba(0,0,0,0);
}
.three {
  background-color: rgba(0,0,0,0);
}
.four {
  background-color: rgba(0,0,0,0);
}

.five{
  background-color: rgba(0,0,0,0);
}

#vertical-cont .box {
  width:100vw;
  height:100vh;
  display:block;
  position:relative;
}

#vertical-cont .box > div {
  width:100px;
  height:100px;
  font-size:96px;
  /*color:#FFF;*/
  position:absolute;
  margin:-50px 0 0 -50px;
  line-height:.7;
  font-weight:bold;
}


#vertical-cont {
  overflow-y:hidden;
  overflow-x:hidden;
  background-color: rgba(0,0,0,0);
  /*background-color:#999;*/
  position:absolute; 
  width:100vw;
  height:100vh;
}
#vertical-cont2 {
  white-space:nowrap;
  font-size:0;
}



#trigger2{
  position: relative;
  top:100vh;
}

#space2{
  height: 100vh;
}

#sponsors{
  width: 100vw;
  height: 200vh;
  background-color: white;
  position: relative;
  display: block;
  background-image: linear-gradient(to right, #E4E4E4 0%, #FFFFFF 100%);
}

#sponsors{
  text-align: center;
}

#sponsors h1{
  font-weight: 100;
  opacity: 0;
  padding-top:  10vh;
  margin-bottom: 5vh;
  font-size: 4rem;
  font-family: "Source Sans Pro", sans-serif;
  /*text-shadow: 2px 2px #555555;*/
}

#sponsors-div{
  /*padding-top: 10vh;*/
  border-radius: 10px;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  display: inline-block;
  width: 70vw;
  /*left:10vw;*/
  background-color: white;
  box-shadow: 5px 5px #555555;
  
}

#sponsors-div .col-xs-12,
#sponsors-div .col-xs-12,
#sponsors-div .col-md-2,
#sponsors-div .col-md-2 {
  text-align: -webkit-center;
  /*border: 0.1px solid rgba(0,0,0,0.2);*/
  margin: 0px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-collapse: collapse;
  /*padding:20px;*/
  /*padding-top: 30px;*/
  /*padding-bottom: 30px;*/
}


#sponsors-div .row{
  border-collapse: collapse;
  padding: 0;
  margin: 0;
}

.img-holder{
  width: auto;
  height: 35px;
  margin: 10px;
  opacity: 0;
}
.img-holder img{
  display: table-cell;
  margin-left: auto;
  vertical-align: middle;
  margin-right: auto;
  max-width: 100%;
}

