/*
Error: Invalid CSS after "@import ": expected file to import (string or url()), was "compass"
        on line 1 of input.scss

1: @import compass
2: 
3: 
4: // n is number of stars required
5: @function multiple-box-shadow ($n) 
6:   $value: '#{random(5000)}px #{random(5000)}px #FFF'

Backtrace:
input.scss:1
/Users/Vinesh/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:1278:in `expected'
/Users/Vinesh/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:1208:in `expected'
/Users/Vinesh/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:1188:in `expr!'
/Users/Vinesh/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:383:in `block in import_directive'
/Users/Vinesh/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:382:in `loop'
/Users/Vinesh/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:382:in `import_directive'
/Users/Vinesh/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:234:in `special_directive'
/Users/Vinesh/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:209:in `directive'
/Users/Vinesh/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:696:in `block_child'
/Users/Vinesh/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:686:in `block_contents'
/Users/Vinesh/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:137:in `stylesheet'
/Users/Vinesh/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:41:in `parse'
/Users/Vinesh/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.5.5/lib/sass/engine.rb:414:in `_to_tree'
/Users/Vinesh/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.5.5/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/Vinesh/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.5.5/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/Vinesh/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.5.5/lib/sass/exec/sass_scss.rb:391:in `run'
/Users/Vinesh/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.5.5/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Users/Vinesh/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.5.5/lib/sass/exec/base.rb:52:in `parse'
/Users/Vinesh/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.5.5/lib/sass/exec/base.rb:19:in `parse!'
/Users/Vinesh/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.5.5/bin/sass:13:in `<top (required)>'
/Users/Vinesh/.rbenv/versions/2.3.1/bin/sass:22:in `load'
/Users/Vinesh/.rbenv/versions/2.3.1/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"@import \": expected file to import (string or url()), was \"compass\"\A         on line 1 of input.scss\A \A 1: @import compass\A 2: \A 3: \A 4: // n is number of stars required\A 5: @function multiple-box-shadow ($n) \A 6:   $value: '#{random(5000)}px #{random(5000)}px #FFF'"; }
